<h1>Sign in to Friend Circle</h1>

<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <input type="submit" value="Sign In">
</form>
