<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>
      Click here to reset your password: <%= @url %>.
    </p>
  </body>
</html>