Enter your email to reset your password:
<br>
<form action="<%= email_password_reset_users_url %>"
  method="POST">

  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <label for="email">Email:</label>
  <input type="text" id="email" name="email">
  <br>
  <input type="submit" name="Reset Password">
</form>