<h1>Sign up for Friend Circle</h1>

<form action="<%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <label for="post_title">Title</label>
  <input
    type="text"
    id="post_title"
    name="post[title]">
  <br>
  <label for="post_body">Body</label>
  <input
    type="textarea"
    col="40"
    row="40"
    id="post_body"
    name="post[body]">
  <br>
  <label>Links
  <% 3.times do |i| %>
    <input
      type="text"
      name="links[<%= i %>][url]">
  <% end %>
  </label>

  <input type="submit" value="Sign Up">
</form>
