<% action_url = (action == :new ? posts_url : post_url(post))%>
<% action_method = (action == :new ? "post" : "put")%>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="_method" value="<%= action_method %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="post_title">Title</label>
  <input
    type="text"
    id="post_title"
    name="post[title]"
    value="<%= post.title %>">
  <br>
  <label for="post_body">Body</label>
  <input
    type="textarea"
    col="40"
    row="40"
    id="post_body"
    name="post[body]"
    value="<%= post.body %>">
  <br>
  <% current_user.circles.each_with_index do |circle, i| %>
    <label>
      <%= circle.name %>
      <input
        type="checkbox"
        value="<%= circle.id %>"
        name="circle_shares[<%= i %>][circle_id]"
        <%= post.circles.include?(circle) ? "checked" : "" %>>
    </label>
  <% end %>
  <br>
  <label>Links
  <% 3.times do |i| %>
    <input
      type="text"
      name="links[<%= i %>][url]"
      value="<%= urls.pop %>">
  <% end %>
  </label>
  <input type="submit" value="Create Post">
</form>