<% action_url = (action == :new ? circles_url : circle_url(@circle)) %>
<% method = (action == :new ? "post" : "put") %>

<form action="<%= action_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="circle_name">Circle Name</label>
  <input type="text"
    id="circle_name"
    name="circle[name]"
    value="<%= @circle.name %>"
  >

  <input type="hidden" name="circle[member_ids][]" value="">
  <% User.all.each do |user| %>
    <label>
      <%= user.email %>
      <input type="checkbox" name="circle[member_ids][]" value="<%= user.id %>" <%= @circle.members.include?(user) ? "checked" : "" %>>
    </label>
  <% end %>

  <input type="submit" value="Submit">
</form>